.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: aliceblue;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}